/** 

font-family: 'Open Sans', sans-serif;
font-family: 'STIX Two Text', serif;

**/

.reset-margenes {
  margin: 0;
  padding: 0;
}
.sticky-nav {
  position:sticky;
}
.header-container {
  background-image:url(../assets/img/cakebuillderbanner.jpg);
  background-size:cover;
  height: 400px;
  display: flex;
  justify-content:center;
  align-items: center;
  align-content: center;
  flex-direction: column;
}
.logo {
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
  margin-left:10px;
}

.banner {
  width:100%;
  height:400px;
  background-image:url(../assets/img/cakebuillderbanner.jpg);
  background-size:cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center
}

.banner-info {
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}

.banner-info--h5 {
  font-family: 'STIX Two Text', serif;
  font-size:80px;
  line-height:60px;
  color: #fff;
  text-align: center;
  background-color: rgb(27, 27, 27);
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;

}
.banner-info--p {
  text-align: center;
  color: rgb(238, 238, 238);
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 4px;
  background-color: rgb(27, 27, 27);
  margin-top: -10px;
  padding-top: 0px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}
/** 

Product cards

**/
.products-container{
  margin-top: 30px;
  margin-bottom: 30px;
}

.title-section {
  font-family: 'STIX Two Text', serif;
  font-size:40px;
  border-bottom: 1px solid black;
  margin-left: 10px;
  margin-right: 10px;
}

.product-grid{
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  padding: 10px;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}
.product-grid:hover {
  background-color: #fff;
  box-shadow: 0 0 5px -4px rgba(0,0,0,0.2);
}
.product-grid .product-image{
  position: relative;
  overflow: hidden;
}
.product-grid .product-image a.image{ display: block; }
.product-grid .product-image img{
  width: 100%;
  height: auto;
}
.product-image .pic-1{ transition: all 0.5s ease-in-out; }
.product-grid:hover .product-image .pic-1{ opacity: 0; }
.product-image .pic-2{
  width: 100%;
  height: 100%;
  opacity: 0;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s ease-in-out;
}
.product-grid:hover .product-image .pic-2{ opacity: 1; }
.product-grid .product-content{
  padding: 15px 10px 0;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease 0s;
  background-color: #fff;
}
.product-grid:hover .product-content{
  background-color: #fff;
  transform: translateY(-20px);
}
.product-grid .title{
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
  margin: 0 0 5px 0;
}
.product-grid .title a{
  color: #000;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}
.product-grid .title a:hover{ color: #894040; }
.product-grid .price{
  color: #444;
  font-size: 14px;
  font-weight: 500;
}
.product-grid .product-links{
  visibility: visible;
  opacity: 0;
  padding: 10px !important;
  transform: translateY(0%);
  position: absolute;
  transition: all 0.2s ease-in-out 0.15s;
  background-color: #fff;
  text-transform: initial;
}
.product-grid:hover .product-links{
  visibility: visible;
  opacity: 1;
  transform: translateY(50%);
}
.product-content{
  background-color:#fff;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}
/** 
  Product cards end
**/

/** 
  Footer
**/

.footer-container {
  background-color: black;
  height:100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-items {
  display:flex;
  justify-content:center;
  align-items: center;
  align-content: center;
}
.footer-text--mod {
  font-size:12px;
  color: rgb(190, 190, 190);
}
.emoji {
  width:18px;
  padding-right:2px;
  margin:0;
}
/** 
  Footer end
**/

/** 
  Builder page
**/
.builder-container{
  padding: 20px;
}
.builder-image {
  background-image: url(../assets/img/makeyourcake.jpg);
  background-size: cover;
}
.title-builder {
  font-family: 'STIX Two Text', serif;
  font-size:24px;
  border-bottom: 1px solid black;
  margin-left: 10px;
  margin-right: 10px;
  line-height:30px;
}

.text-builder {
  padding-top:10px;
  padding-bottom: 0px;
  font-family: 'Open Sans', sans-serif;
  font-size:16px;
  border-bottom: 1px solid black;
  margin-left: 10px;
  margin-right: 10px;
  line-height:24px;
}

.info-builder {
  margin: 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size:14px;
  line-height:20px;
}

.form-select {
  font-size: 12px !important;
  font-style: italic;
  background-color:rgb(228, 228, 228) !important;
}

.text-area-mod {
  font-size: 12px !important;
  font-style: italic;
  background-color:rgb(228, 228, 228) !important;
}

.alert-selector-empty {
  font-size: 12px;
  position: absolute;
  margin: 0px;
  padding: 0px;
  color:red;
}

.cart-total-nav{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.total-price {
  margin:0px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  margin-left: 5px;
}
.total-price-builder {
  margin:0px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin-left: 5px;
  color:red;
}