/** 

font-family: 'Open Sans', sans-serif;
font-family: 'STIX Two Text', serif;

**/

.reset-margenes {
  margin: 0;
  padding: 0;
}
.sticky-nav {
  position:sticky;
}
.header-container {
  background-image:url(../assets/img/cakebuillderbanner.jpg);
  background-size:cover;
  height: 400px;
  display: flex;
  justify-content:center;
  align-items: center;
  align-content: center;
  flex-direction: column;
}
.logo {
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
  margin-left:10px;
}

.banner {
  width:100%;
  height:400px;
  background-image:url(../assets/img/cakebuillderbanner.jpg);
  background-size:cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center
}

.banner-info {
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}

.banner-info--h5 {
  font-family: 'STIX Two Text', serif;
  font-size:80px;
  line-height:60px;
  color: #fff;
  text-align: center;
  background-color: rgb(27, 27, 27);
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;

}
.banner-info--p {
  text-align: center;
  color: rgb(238, 238, 238);
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 4px;
  background-color: rgb(27, 27, 27);
  margin-top: -10px;
  padding-top: 0px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}
/** 

Product cards

**/
.products-container{
  margin-top: 30px;
  margin-bottom: 30px;
}

.title-section {
  font-family: 'STIX Two Text', serif;
  font-size:40px;
  border-bottom: 1px solid black;
  margin-left: 10px;
  margin-right: 10px;
}

.product-grid{
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  padding: 10px;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}
.product-grid:hover {
  background-color: #fff;
  box-shadow: 0 0 5px -4px rgba(0,0,0,0.2);
}
.product-grid .product-image{
  position: relative;
  overflow: hidden;
}
.product-grid .product-image .image{ display: block; }

.product-grid .product-image img{
  width: 100%;
  height: auto;
}
.product-image .pic-1{ transition: all 0.5s ease-in-out; }

.product-grid:hover .product-image .pic-1{ opacity: 0; }
.product-image .pic-2{
  width: 100%;
  height: 100%;
  opacity: 0;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s ease-in-out;
}
.btn-viewmore{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: ce;
  opacity: 0;
  backface-visibility: hidden;
  position: absolute;
  z-index: 1;
  transition: all 0.8s ease 0s;
}
.product-grid:hover .btn-viewmore{ opacity: 1; }
.product-grid:hover .product-image .pic-2{ opacity: 1; }
.product-grid .product-content{
  padding: 15px 10px 0;
  position: relative;
  z-index: 1;
  transition: all 0.5s ease 0s;
  background-color: #fff;
}
.product-grid:hover .product-content{
  background-color: #fff;
  transform: translateY(-20px);
}
.product-grid .title{
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
  margin: 0 0 5px 0;
}
.product-grid .title a{
  color: #000;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}
.product-grid .title a:hover{ color: #894040; }
.product-grid .price{
  color: #444;
  font-size: 14px;
  font-weight: 500;
}
.product-grid .product-links{
  visibility: visible;
  opacity: 0;
  padding: 10px !important;
  transform: translateY(0%);
  position: absolute;
  transition: all 0.2s ease-in-out 0.15s;
  background-color: #fff;
  text-transform: initial;
}
.product-grid:hover .product-links{
  visibility: visible;
  opacity: 1;
  transform: translateY(50%);
}
.product-content{
  background-color:#fff;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}
/** 
  Product cards end
**/

/** 
  Footer
**/

.footer-container {
  background-color: black;
  height:100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-items {
  display:flex;
  justify-content:center;
  align-items: center;
  align-content: center;
}
.footer-text--mod {
  font-size:12px;
  color: rgb(190, 190, 190);
}
.emoji {
  width:18px;
  padding-right:2px;
  margin:0;
}
/** 
  Footer end
**/

/** 
  Builder page
**/
.builder-container{
  padding: 20px;
}
.builder-image {
  background-image: url(../assets/img/makeyourcake.jpg);
  background-size: cover;
}
.title-builder {
  font-family: 'STIX Two Text', serif;
  font-size:24px;
  border-bottom: 1px solid black;
  margin-left: 10px;
  margin-right: 10px;
  line-height:30px;
}

.text-builder {
  padding-top:10px;
  padding-bottom: 0px;
  font-family: 'Open Sans', sans-serif;
  font-size:16px;
  border-bottom: 1px solid black;
  margin-left: 10px;
  margin-right: 10px;
  line-height:24px;
}

.info-builder {
  margin: 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size:14px;
  line-height:20px;
}

.form-select {
  font-size: 12px !important;
  font-style: italic;
  background-color:rgb(228, 228, 228) !important;
}

.text-area-mod {
  font-size: 12px !important;
  font-style: italic;
  background-color:rgb(228, 228, 228) !important;
}

.alert-selector-empty {
  font-size: 12px;
  position: absolute;
  margin: 0px;
  padding: 0px;
  color:red;
}

.cart-total-nav{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.total-price {
  margin:0px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  margin-left: 5px;
}
.total-price-builder {
  margin:0px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  margin-left: 5px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color:black;
}
.reset-container {
  display: flex;
  justify-content: flex-end;
  padding-top: 5px;
}
.reset-content {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.icon-reset {
  margin-right:5px;
  display: flex;
  justify-content: space-around;
}
.reset-selectors {
  margin: 0px;
  padding-left: 5px;
  font-size: 12px;
}
.reset-link {
  text-decoration:none;
}
.reset-link:hover {
  color:red;
}
.btn-add-cart-builder {
  background-color:black;
  color:white;
  border:none;
  text-transform: uppercase;
}
.btn-add-cart-builder:hover {
  background-color: #7ff0d4;
  
}

/** 
  Cart
**/

.cart-container {
  width: 100%;
  position: absolute;
  justify-content:flex-end;
}

.cart-nav-button {
  text-decoration:none;
  background:none;
  border:none;
  display:flex;
}

.cart-nav-button:hover{
  color: red;
}
.cart-display {
  position: relative;
  background: white;
  width:300px;
  height:100vh;
  display: none;
}

.cart-item-table {
  display: flex;
  flex-direction: column;
}
.cart-item {
  display: flex;
  padding-left: 5px;
  align-items: center;
  margin: 2px;
  font-size:14px;
}
.btn-cart-quantity {
  border: none;
  background-color:black;
  color:white;
}

.item-quantity-cart {
  padding: 0px 10px 0px 10px;
}
.cart-control-btn {
  background-color:white;
  border:1px solid black;
}
.cart-control-btn-delete {
  margin-left: 5px;
}
.quantity-bottons-item {
  margin:0px;
  padding :2px 10px;
  background-color:black;
  color:white;
}
.item-control-container {
  display: flex;
  justify-content:center;
  align-content: center;
  align-items: center;
}
.quantity-item-text {
  margin: 0px;
  padding: 0px;
  padding-right: 5px;
  font-size:14px;
}
.item-product-title{
  margin:0px;
  padding-right:5px;
  font-size:14px;
}
.total-price-containe{
  margin-top:40px;
  background-color:rgb(228, 228, 228);
  width:100%;
  text-align:center;
  padding-top:10px;
}
.total-price-cart {
  font-size:14px;
}
.total-price-cart b {
  font-weight: 600;
}
.item-product-render {
  display:flex;
  justify-content:center;
  align-items: center;
  align-content: center;
}
.item-product-render{
  margin:0px;
  display:flex;
  justify-content: flex-end;
  padding-top:10px;
}
.print-product-txt {
  margin:20px;
}
.btn-viewmore {
  position: absolute;
}
.view-element{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.modal-products {
  max-height: 700px !important;
}

.product-modal{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.product-description-modal {
  font-size: 16px;
  font-weight:400;
  margin-top:20px;
  margin-bottom:-10px;
}
.product-image-modal__mod {
  width:300px;
}
.end-order-container {
  display: flex;
}
.btn-finalize{
  width:60%;
}
.delete-cart {
  width: 40%;
}
.cart-empty {
  font-size:14px;
  letter-spacing:6px;
  font-weight:100;
  text-align: center;
}

.modal.modal-left .modal-dialog,
.modal.modal-right .modal-dialog,
.modal.modal-top .modal-dialog,
.modal.modal-bottom .modal-dialog {
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}

/* MODAL Left & Right */

.modal.modal-left .modal-dialog,
.modal.modal-right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 500px;
  max-width: 100%;
  height: 100%;
}

.modal.modal-left .modal-content,
.modal.modal-right .modal-content {
  height: 100%;
  overflow-y: auto;
}

.modal.modal-left .modal-body,
.modal.modal-right .modal-body {
  padding: 15px 15px 80px;
}

.modal.modal-left.fade .modal-dialog {
  left: -500px;
  -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
  -o-transition: opacity 0.3s linear, left 0.3s ease-out;
  transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.modal-left.fade.show .modal-dialog {
  left: 0;
}

.modal.modal-right.fade .modal-dialog {
  right: -500px;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
  -o-transition: opacity 0.3s linear, right 0.3s ease-out;
  transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.modal-right.fade.show .modal-dialog {
  right: 0;
}

.modal.modal-left .modal-content,
.modal.modal-right .modal-content,
.modal.modal-top .modal-content,
.modal.modal-bottom .modal-content,
.modal.modal-full .modal-content {
  border-radius: 0;
  border: none;
}

.modal.modal-left .modal-dialog.modal-sm,
.modal.modal-right .modal-dialog.modal-sm {
  width: 300px;
}

.modal.modal-left .modal-dialog.modal-lg,
.modal.modal-right .modal-dialog.modal-lg {
  width: 800px;
}

.modal.modal-left .modal-dialog.modal-xl,
.modal.modal-right .modal-dialog.modal-xl {
  width: 1140px;
}